# Ignore database/data files
data/
*.dblwr
*.db
*.sqlite3

# Ignore python cache
__pycache__/
*.pyc
*.pyo

# Ignore git files
.git
.gitignore

# Ignore virtual environment & env files
venv/
.env
*.env
